<div class="about-section">
  <h1><span style="font-weight: 900;">OBJECTIVE</span><span style="color: #583F27;">.</span></h1>
  <p>
    To build a strong foundation for a materials base that is fit for purpose and offers
    a wide range of options. Our aim is to support our designer, developer, and
    sourcing teams through a platform that provides real-time access to certified
    materials. 
    
    

  </p>
  <p>
    We strive to connect the materials world through innovation, transparency, and
    sustainability, while ensuring workflows remain aligned with a future-focused
    vision.
  </p>
</div>

<div class="about-banner-section">
  <img src="/Images/banner_about.png" alt="About Banner" class="about-banner-img">
</div>
