<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="logo.png" width="30" height="30" alt="">
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="" style="font-weight: bold;">HOME</a>

        <a class="nav-item nav-link" href="products" style="font-weight: bold;">COMPONENTS</a>
        <a class="nav-item nav-link" href="segments" style="font-weight: bold;">OTHER SEGMENTS</a>
      </div>
    </div>
  </nav>
