<div class="hero-image" style="background-image: url('/Images/banner_home.png'); background-size: cover; background-position: center; height: 800px; position: relative;">
  <div class="hero-text">
    <h1 style="font-size:50px; color:#ffffff;">CLARKS MATERIAL</h1>
    <h2 style="font-size:50px; color:#ffffff;">ONLINE GALLERY</h2>
    <button class="button-28" (click)="goToProducts()">Reach Out</button>
  </div>
</div>


<div class="about-section">
  <h1><span style="font-weight: 900;">OBJECTIVE</span><span style="color: #583F27;">.</span></h1>
  <p>
    To build a strong foundation for a materials base that is fit for purpose and offers
    a wide range of options. Our aim is to support our designer, developer, and
    sourcing teams through a platform that provides real-time access to certified
    materials. 
    
    

  </p>
  <p>
    We strive to connect the materials world through innovation, transparency, and
    sustainability, while ensuring workflows remain aligned with a future-focused
    vision.
  </p>
</div>

<div class="about-banner-section">
  <img src="/Images/banner_about.png" alt="About Banner" class="about-banner-img">
</div>




<div class="about-section" id="components">
  <h1><span style="font-weight: 900;">COMPONENTS</span><span style="color: #583F27;">.</span></h1>
  <p>
    Discover the essential building blocks behind every great pair of shoes. Our Shoe
    Components category offers a comprehensive selection of parts that contribute
    to comfort, performance, and style. From structural elements to decorative
    trims, each component plays a vital role in footwear design and functionality.
  </p>
</div>

<div class="ourproducts-main-section">
  <div class="ourproducts-grid">
    <div class="product-item">
      <a href="https://drive.google.com/drive/folders/16oVAbHJ85MnFPY5PPnvOiB6JcPfm0wmP?usp=drive_link">
        <img src="/Images/leather.png" alt="Leather">
        <div class="product-label">LEATHER</div>
      </a>
    </div>
    <div class="product-item">
      <a href="https://drive.google.com/drive/folders/1UMTOrbLOlqy4-Oeup8WhYrLPNOUjDhUE?usp=drive_link">
        <img src="/Images/non_leather.png" alt="Non-Leather">
        <div class="product-label">NON-LEATHER</div>
      </a>
    </div>
    <div class="product-item">
      <a href="https://drive.google.com/drive/folders/1YrDr54XcBPVfGP_bKcitvaSNy2u0HNdj?usp=drive_link">
        <img src="/Images/soles.png" alt="Soles">
        <div class="product-label">SOLES</div>
      </a>
    </div>
    <div class="product-item">
      <a href="https://drive.google.com/drive/folders/1Rtx44r8_1_ttNQX6pvzAj7nvuLXtKJMq?usp=drive_link">
        <img src="/Images/Reinforcement.png" alt="Reinforcements">
        <div class="product-label">REINFORCEMENTS</div>
      </a>
    </div>
    <div class="product-item">
      <a href="https://drive.google.com/drive/folders/1TzxXLXEoAed6h5EA7-gjXgP6OFWgu_ul?usp=drive_link">
        <img src="/Images/Laces_tapes.png" alt="Laces Tapes">
        <div class="product-label">LACES TAPES</div>
      </a>
    </div>
  </div>
</div>
<!-- <div class="final-logo" style="display: flex; justify-content: center; align-items: center; padding-top: 100px;">
  <img src="/Images/final_logo.png" alt="Final Logo">
</div> -->

<!-- Additional Segment Section -->
<div class="additional-segment-section">
  <div class="about-section" id="additional-segment">
      <h1><span style="font-weight: 900;">ADDITIONAL SEGMENT</span><span style="color: #583F27;">.</span></h1>
      <p>
          Our Additional Segments in the shoe category are designed to meet diverse lifestyle needs, fashion preferences, and functional demands.
      </p>
      <p>
          These curated collections go beyond the standard to bring more variety and innovation to your footwear choices.
      </p>
    </div>





  <div class="additional-segment-grid-bg">
    <div class="additional-segment-grid">
      <div class="segment-item">
        <a href="https://drive.google.com/drive/folders/19GyqBp07Ygm-QcVIy3G6vfriYy9BXj8y?usp=drive_link">
          <img src="/Images/seg1.png" alt="Seasoned Color Palette">
          <div class="segment-label">SEASONED COLOR PALETTE</div>
        </a>
      </div>
      <div class="segment-item">
        <a href="https://drive.google.com/drive/folders/19GyqBp07Ygm-QcVIy3G6vfriYy9BXj8y?usp=drive_link">
          <img src="/Images/Innovative.png" alt="Innovation">
          <div class="segment-label">INNOVATION</div>
        </a>
      </div>
      <div class="segment-item">
        <a href="https://drive.google.com/drive/folders/19PjSvbXxdIn3hnYs6o568DTWw3BWq1dO?usp=drive_link">
          <img src="/Images/Recycle.png" alt="Sustainability and Recycle">
          <div class="segment-label">SUSTAINABILITY AND RECYCLE</div>
        </a>
      </div>
      <div class="segment-item">
        <a href="https://drive.google.com/drive/folders/1zxuZ8haN0ethZ3OZy0ywoQc3UChCIPP5?usp=drive_link">
          <img src="/Images/Shoe_finishes.png" alt="Shoe Finishing Implementation">
          <div class="segment-label">SHOE FINISHING IMPLEMENTATION</div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="final-logo" style="display: flex; justify-content: center; align-items: center; padding-top: 100px;">
  <img src="/Images/final_logo.png" alt="Final Logo">
</div>


<!--   
<div >
  <app-about></app-about>
  <app-ourproduct></app-ourproduct>
  <app-segments></app-segments>
</div> -->
