<div class="hero-image" style="background-image: url('/Images/banner_home.png'); background-size: cover; background-position: center; height: 800px; position: relative;">
  <div class="hero-text">
    <h1 style="font-size:50px; color:#ffffff;">CLARKS MATERIAL</h1>
    <h2 style="font-size:50px; color:#ffffff;">ONLINE GALLERY</h2>
    <button class="button-28" (click)="goToProducts()">Reach Out</button>
  </div>
</div>
<div >
  <app-about></app-about>
  <app-ourproduct></app-ourproduct>
  <app-segments></app-segments>
</div>
