<!-- Additional Segment Section -->
<div class="additional-segment-section">
    <div class="about-section">
        <h1><span style="font-weight: 900;">ADDITIONAL SEGMENT</span><span style="color: #583F27;">.</span></h1>
        <p>
            Our Additional Segments in the shoe category are designed to meet diverse lifestyle needs, fashion preferences, and functional demands.
        </p>
        <p>
            These curated collections go beyond the standard to bring more variety and innovation to your footwear choices.
        </p>
      </div>





    <div class="additional-segment-grid-bg">
      <div class="additional-segment-grid">
        <div class="segment-item">
          <a href="https://drive.google.com/drive/folders/19GyqBp07Ygm-QcVIy3G6vfriYy9BXj8y?usp=drive_link">
            <img src="/Images/seg1.png" alt="Seasoned Color Palette">
            <div class="segment-label">SEASONED COLOR PALETTE</div>
          </a>
        </div>
        <div class="segment-item">
          <a href="https://drive.google.com/drive/folders/19GyqBp07Ygm-QcVIy3G6vfriYy9BXj8y?usp=drive_link">
            <img src="/Images/Innovative.png" alt="Innovation">
            <div class="segment-label">INNOVATION</div>
          </a>
        </div>
        <div class="segment-item">
          <a href="https://drive.google.com/drive/folders/19PjSvbXxdIn3hnYs6o568DTWw3BWq1dO?usp=drive_link">
            <img src="/Images/Recycle.png" alt="Sustainability and Recycle">
            <div class="segment-label">SUSTAINABILITY AND RECYCLE</div>
          </a>
        </div>
        <div class="segment-item">
          <a href="https://drive.google.com/drive/folders/1zxuZ8haN0ethZ3OZy0ywoQc3UChCIPP5?usp=drive_link">
            <img src="/Images/Shoe_finishes.png" alt="Shoe Finishing Implementation">
            <div class="segment-label">SHOE FINISHING IMPLEMENTATION</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="final-logo" style="display: flex; justify-content: center; align-items: center; padding-top: 100px;">
    <img src="/Images/final_logo.png" alt="Final Logo">
  </div>