<div class="about-section">
  <h1><span style="font-weight: 900;">COMPONENTS</span><span style="color: #583F27;">.</span></h1>
  <p>
    To build a strong foundation for a materials base that is fit for purpose and offers
    a wide range of options. Our aim is to support our designer, developer, and
    sourcing teams through a platform that provides real-time access to certified
    materials.
    We strive to connect the materials world through innovation, transparency, and
    sustainability, while ensuring workflows remain aligned with a future-focused
    vision.
  </p>
</div>

<div class="ourproducts-main-section">
  <div class="ourproducts-grid">
    <div class="product-item">
      <a href="https://drive.google.com/drive/folders/16oVAbHJ85MnFPY5PPnvOiB6JcPfm0wmP?usp=drive_link">
        <img src="/Images/leather.png" alt="Leather">
        <div class="product-label">LEATHER</div>
      </a>
    </div>
    <div class="product-item">
      <a href="https://drive.google.com/drive/folders/1UMTOrbLOlqy4-Oeup8WhYrLPNOUjDhUE?usp=drive_link">
        <img src="/Images/non_leather.png" alt="Non-Leather">
        <div class="product-label">NON-LEATHER</div>
      </a>
    </div>
    <div class="product-item">
      <a href="https://drive.google.com/drive/folders/1YrDr54XcBPVfGP_bKcitvaSNy2u0HNdj?usp=drive_link">
        <img src="/Images/soles.png" alt="Soles">
        <div class="product-label">SOLES</div>
      </a>
    </div>
    <div class="product-item">
      <a href="https://drive.google.com/drive/folders/1Rtx44r8_1_ttNQX6pvzAj7nvuLXtKJMq?usp=drive_link">
        <img src="/Images/Reinforcement.png" alt="Reinforcements">
        <div class="product-label">REINFORCEMENTS</div>
      </a>
    </div>
    <div class="product-item">
      <a href="https://drive.google.com/drive/folders/1TzxXLXEoAed6h5EA7-gjXgP6OFWgu_ul?usp=drive_link">
        <img src="/Images/Laces_tapes.png" alt="Laces Tapes">
        <div class="product-label">LACES TAPES</div>
      </a>
    </div>
  </div>
</div>
<!-- <div class="final-logo" style="display: flex; justify-content: center; align-items: center; padding-top: 100px;">
  <img src="/Images/final_logo.png" alt="Final Logo">
</div> -->



  